NEXT_PUBLIC_COPILOT_PUBLIC_API_KEY=ck_pub_32e02f86c2f7f6e73f4016837234b77c

# Optional: For animated exercise GIFs in workout plan (free at developers.giphy.com)
GIPHY_API_KEY=VMR9lwFNRaC01WK0VrOdHQHgCLTPzSwE
